@model LoginViewModel
@if (ViewBag.UserRole != "")
{
    <p>Вы уже вошли</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="contactForm" method="post" class="bg-white">
                    <div class="border p-3 mt-1">
                        <div class="row pb-0">
                            <div class="col-md-6">
                                <h2 class="text-primary px-0">Вход</h2>
                            </div>
                            <div class="col-md-6 text-end px-1">
                            </div>
                            <hr />
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Email" class="p-0"></label>
                            <input asp-for="Email" class="form-control editable" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <label asp-for="Password" class="p-0"></label>
                            <input asp-for="Password" class="form-control editable" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-1 row p-1">
                            <div class="form-check d-flex align-items-center">
                                <input type="checkbox" asp-for="RememberMe" class="form-check-input me-2 mb-1" />
                                <label asp-for="RememberMe" class="form-check-label"></label>
                            </div>
                            <span asp-validation-for="RememberMe" class="text-danger"></span>
                        </div>

                        <div class="row pt-4">
                            <div class="col-6 px-1">
                                <button type="submit" class="btn btn-primary form-control editable-btn">
                                    Войти
                                </button>

                            </div>
                            <div class="col-6 px-1">
                                <a href="/" class="btn btn-secondary border form-control">
                                    Вернуться к списку
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
